.jumbotron{
    /* background-color: #4285F4; */
    background-color: #DB4437;
    /* box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* box-shadow: 3px 4px 5px 6px #000; */
    box-shadow: inset 0px 0px 8px 5px rgba(0,0,0,0.2);
    margin: 0;
}